<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <title>Exercice6</title>
  </head>
  <body ng-app>
    <button type="button" name="buttonshow" ng-click="paragraph1=true; paragraph2=false">Affichage 1er paragraphe</button>
    <button type="button" name="buttonshow" ng-click="paragraph1=false; paragraph2=true">Affichage 2nd paragraphe</button>
    <p ng-show="paragraph1" show-hide="paragraph1">Paragraphe 1</p>
    <p ng-show="paragraph2" show-hide="paragraph2">Paragraphe 2</p>
  </body>
</html>
